
#root {
  display:flex;
  width: 100vw;
  height: 100vh;
  --accent-color: #edfa40;
  --primary-color: #f4f4f4;
  --secondary-color: #000;
}

.main {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  width: 100%;
}