/* Parent Task */
.task-cont {
    width:99%;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    transition: background-color .1s ease-in, border .4s, flex .5s;
}
.task-cont:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
   
}


/* Checked */
.check>.content-cont>input[type=text]{
    color:rgb(228, 228, 228); 
}
.check>.content-cont>span{
    width: 100%;

}

/* onEdit */
.focus{
    background-color: rgb(231, 215, 203);
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-left:  1px solid black;
    border-bottom:  3px solid black;
}

/* Check Box */
.checkbox-cont input[type=checkbox]{
    border-radius: 0;
    background-color: var(--primary-color);
  
        /* removing default appearance */
    -webkit-appearance: none;
        appearance: none;
        /* creating a custom design */
        width: 1.6em;
        height: 1.6em;
        border-radius: 0.15em;
        margin-right: 0.5em;
        border: 0.15em solid var(--primary-color);
        outline: none;
        cursor: pointer;
    
}
.checkbox-cont input[type=checkbox]:checked{
    border-radius: 0;
    color: var(--accent-color);
}

/* Content Box */
.content-cont {
    width: 75%;
    position: relative;
}
.content-cont>span{
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    top: 55%;
    transform: translateY(-55%);
    transition: width .3s ease-in-out;
}
.content-cont input[type=text]{
    background-color: transparent;
    border: none;
    transition: color .4s ease-out;
    width: 90%;
    font-size:1rem;
}
.content-cont input[type=text]:focus-visible{
    background-color: transparent;
    outline: none;
    
}

.options-cont>.option-del.appear{
    opacity: 1;
    visibility: visible;
}
.options-cont>.option-del{
    opacity: 0;
    visibility: hidden;
}